* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Merriweather', serif
}

:root {
    --primary-color: #E02C6D;
    --secondary-color: #AAAAAA;
    --primary-font: #3A3A3A;
    --secondary-font: #FFFFFF;
    --background-color: rgba(232, 233, 233, 0.986);
}

body {
    background-color: var(--secondary-font);
}

header {
    width: 100%;
    justify-content: left;
}

.tol-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.Influencer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.Influencer > h2{
    margin-right: 10px;
}
/* info header */
.introduce {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 133px;
}

.text>h1 {
    font-size: 30px;
    font-weight: 1000;
}

.text {
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
}

button {
    background: var(--primary-color);
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-size: 16px;

    color: var(--secondary-font);
    margin-top: 20px;
}

img {
    width: 414px;
    height: 414px;
    left: 835px;
    top: 211px;
}

/* logos section */
.promotion__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 100px;
    width: 80%;
}

.promotion__container>img {
    width: 10%;
    height: 50%;
}

/* popular section */

.popular_heading {
    font-style: var(--primary-font);
    text-align: center;
    padding-bottom: 30px;
}

.grid__box img {
    width: 100%;
    margin-bottom: 16px;
}

.popular__container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid_box>h3,
h2,
p {
    padding: 5px;
}

.see_more {
    margin-top: 40px;
    margin-bottom: 100px;
    background: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}

/*--------- feature part-------- */

.Feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 100px;
}

.Feature_left>img {
    width: 404px;
    height: 270px;
    border-radius: 8px;
}

.text_right {
    padding-bottom: 45px;
}

.join_button{
    border-radius: 0;
}

.text_right>h1 {
    color: #0A0826;
    font-weight: 700;
    font-size: 38px;
}

/*------ footer ------*/
.foot {
    width: 100%;
    height: 240px;
    background-color: #0A0826;
}

.fotter_container {
    text-align: center;
   padding: 5%;
    color: var(--secondary-color);
   
}

.

.fotter_container > h2 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}